/* GENERAL */
.input
{

}

.input img
{
    vertical-align: middle;
    cursor: pointer;
    float: right;
    margin: 0 9px 0 0;
}

.input span a
{
    color: rgb(250, 250, 250);
    font-size: 13px;
    margin: 0 0 0 22px;
    text-decoration: underline;
}

.input input
{
    width: 243px;
    background: url(../images/form_field.png) no-repeat;
    height: 28px;
    border: 0;
    padding: 5px 5px 5px 10px;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    margin-bottom: 5px;
    color: rgb(200, 200, 200);
    font-size: 12px;
}

.input textarea
{
    display: block;
    width: 240px;
    max-width: 240px;
    min-width: 240px;
    height: 100px;
    border: 1px solid rgba(188, 188, 188, 0.5);
    margin: 2px 0 7px 0;
    padding: 5px;
}

.input input[type="submit"]
{
    width: 85px;
    background: url(../images/registre_btn.png);
    height: 37px;
    padding: 0;
    float: right;
    margin: 0 9px 0 0;
    cursor: pointer;
}

.input input[type="submit"].contactssubmit
{
    width: 169px;
    background: url(../images/sendMessage_btn.png);
    height: 37px;
    padding: 0;
    float: left;
    margin: 0 9px 0 0;
    cursor: pointer;
}

/* GENERAL */

/* LEADERSHIP */
.leadershipform
{
    float: right;
    background: #f7f7f7;
    padding: 20px 3px 40px 15px;
    width: 262px;
}

.leadershipform .form-title
{
    color: #0282c1;
    font-size: 18px;
    font-weight: bolder;
    margin: 0 0 20px 0;
}
/* LEADERSHIP */