/* General */
*
{
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

body
{
	z-index: -2;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial !important;

    background: rgb(253, 253, 253);
    background-image: linear-gradient(bottom, rgb(200,200,200) 30%, rgb(252,253,253) 65%, rgb(253,253,253) 83%);
    background-image: -o-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(252,253,253) 65%, rgb(253,253,253) 83%);
    background-image: -moz-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(252,253,253) 65%, rgb(253,253,253) 83%);
    background-image: -webkit-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(252,253,253) 65%, rgb(253,253,253) 83%);
    background-image: -ms-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(252,253,253) 65%, rgb(253,253,253) 83%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.3, rgb(200,200,200)),
    	color-stop(0.65, rgb(252,253,253)),
    	color-stop(0.83, rgb(253,253,253))
    );
}

.hidden
{
    display: none !important;
}

.relative
{
	position: relative !important;
}

.absolute
{
	position: absolute !important;
}

.right
{
    float: right !important;
}

.left
{
    float: left !important;
}

.cursor
{
    cursor: pointer !important;
}

h2
{
	color: #464646;
	padding: 0;
	margin: 0;
	font-size: 12pt;
	font-weight: 700;
}

p
{
	/*color: #ffff67;*/
	color: #464646;
	padding: 0;
	margin: 0;
	font-size: 12pt;
	font-weight: 500;
	padding: 0 0 32px 0;
}

a
{
    cursor: pointer;
    text-decoration: none;
    color: rgba(250, 250, 250, 0.99);
    font-weight: bolder;
}

a:hover
{
    color: #ffffff;
}

a.emaillink
{
    color: #0066FF !important;
    font-size: 13px;
    text-decoration: underline;
}

.readmorebutton
{
    cursor: pointer !important;
}

.center
{
    text-align: center !important;
}

.bold
{
    font-weight: bold !important;
}

.bolder
{
    font-weight: bolder !important;
}

.smaller
{
    font-weight: lighter !important;
    font-size: smaller !important;
}

.corners_8
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
	-khtml-border-radius: 8px;
	overflow: hidden;
}

.hr
{
    height: 1px;
    margin: 5px 0 14px 0;
    background: rgba(0,0,0,0.2);
}

.middle
{
    vertical-align: middle !important;
}

.top
{
    vertical-align: top !important;
}

.white
{
    background: #ffffff !important;
}

.lightwhite
{
    color: rgba(250, 250, 250, 0.8) !important;
}

.maxwidth
{
    width: 1004px !important;
}

.minheight
{
    min-height: inherit !important;
}

.margintop
{
    margin-top: 10px !important;
}

.marginbottom
{
    margin-bottom: 10px !important;
}

.margin2bottom
{
    margin-bottom: 20px !important;
}

.margin3bottom
{
    margin-bottom: 30px !important;
}

.margin4bottom
{
    margin-bottom: 40px !important;
}

.margin5bottom
{
    margin-bottom: 50px !important;
}

.nomarginbottom
{
    margin-bottom: 0 !important;
}

.marginleft
{
    margin-left: 10px !important;
}

.paddingtop
{
    padding-top: 10px !important;
}

.paddingbottom
{
    padding-bottom: 10px !important;
}

h1.page-header
{
    color: #000000;
    font-weight: bolder;
    font-size: 25px;
    margin: 0 0 30px 0;
}

h2.page-sub-header
{
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    margin: 0 0 30px 0;
}

h3.page-sub-sub-header
{
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
    margin: 0 0 30px 0;
}

h4.page-sub-sub-sub-header
{
    color: #000000;
    font-weight: bolder;
    font-size: 12px;
    margin: 0 0 30px 0;
}

p.page-content
{
    font-size: 12px;
    color: #000000;
    padding: 0;
    margin: 0 0 30px 0;
}

a.inline-link,
a.inline-link:hover,
a.inline-link:active
{
    color: inherit;
    font-weight: bolder;
    font-size: inherit;
    text-decoration: underline;
}

ul.inline-list
{
    margin: 0 0 30px 0;
    padding: 0 0 0 40px !important;
    font-size: 12px;
    padding: 0 0 0 10px;
}

ul.inline-list li
{
    list-style: circle;
    list-style-type: circle;
    padding: 0;
    font-size: 12px;
}

.doublequote
{
    font-size: 40px;
    font-weight: bolder;
    font-family: serif !important;
    font: serif !important;
}

.textboxed
{
    padding: 10px 0;
    background: url(../images/Speakers/horizontal_line.png) repeat-x bottom center;
}

/* Header */
#Header
{
	margin: 0 auto;
	padding: 0;
	border: 0;
	background: rgb(240, 240, 240);
    height: 130px;
    max-height: 130px;
    min-height: 130px;
    overflow: hidden;
}

#Header #Icon
{
    height: 80px;
    overflow: hidden;
    padding: 0 10px;
}

#Header #Icon .logo
{
    vertical-align: middle;
    margin: 15px 0 0 0;
}

#Header #Icon .banner-right
{
    float: right;
    color: #006cac;
    margin: 23px 0 0 0;
    font-size: 22px;
}

#Header #Menu
{
    background: #646464;
    height: 40px;
    padding: 4px 0 10px 0;
    width: auto;
    margin: 0 auto;
}

#Header #Menu .menu-tab
{
    /*
    width: 1004px;
    padding: 0 0 0 50px;
    */
}

#Header #Menu .menu-tab .menu-tab-submenu
{
    margin: 0;
    position: absolute;
}

#Header #Menu .menu-tab .menu-tab-submenu ul
{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Header #Menu .menu-tab .menu-tab-submenu li
{
    list-style: none;
    list-style-type: none;
}

#Header #Menu .menu-tab .menu-tab-submenu li .submenubutton
{
    margin: 0 0 1px 0;
    padding: 6px 5px 6px 30px;
    background: url(../images/submenu-arrow.png) no-repeat left rgb(90, 90, 90);
    cursor: pointer;
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 12px;
}

#Header #Menu .menu-tab .menu-tab-submenu li .submenubutton:hover,
#Header #Menu .menu-tab .menu-tab-submenu li .submenubutton.active
{
    background: url(../images/submenu-arrow.png) no-repeat left rgb(120, 120, 120);
}

#Header #Menu img
{
    cursor: pointer;
}

#Header #Menu .active img
{
    background-color: #FFFFFF;
}

#Header #Menu .menubutton
{
    background: transparent;
    cursor: pointer;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 5px;
    margin: 0px 10px 0 0;
    font-size: 12px;
    width: 85px;
    vertical-align: middle;
}

#Header #Menu .menubutton.singleline
{
    margin: 7px 10px 0 0;
}

#Header #Menu .menubutton:hover,
#Header #Menu .menubutton.active
{
    background: rgb(120, 120, 120);
}

#Header #Menu #daycount
{
    float: right;
    width: 200px;
    color: rgb(250, 250, 250);
    text-align: center;
}

#Header #Menu #daycount .time
{
    width: 50px;
    color: rgb(250, 250, 250);
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    font-size: 10px;
}

#Header #Menu .timebuttom
{
    background: rgb(50, 50, 50);
}

#Header #Menu #learnmorebuttom
{
    float: right;
    width: 115px;
}

/* Content */
#Content
{
	margin: 0 auto;
	border: 0;
}

#Content.actualpage
{
    background: rgb(58,142,192); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhOGVjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NmE3ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(58,142,192,1) 0%, rgba(86,167,212,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,142,192,1)), color-stop(100%,rgba(86,167,212,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(58,142,192,1) 0%,rgba(86,167,212,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(58,142,192,1) 0%,rgba(86,167,212,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(58,142,192,1) 0%,rgba(86,167,212,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(58,142,192,1) 0%,rgba(86,167,212,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a8ec0', endColorstr='#56a7d4',GradientType=0 ); /* IE6-8 */
}

#Content .header
{
    padding: 10px 0 10px 20px;
    background: #212121;
}

#Content .subheader
{
    padding: 15px 0 10px 33px;
    background: #646464;
    width: 970px !important;
}

#Content .subheader span
{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 23px;
}

#Content .top
{
    padding: 10px;
    background: rgb(255, 255, 255);
}

#Content .textbased
{
    padding: 10px 30px;
    width: 943px;
    min-height: 500px;
}

#Content .textbased-left
{
    width: 650px !important;
    min-width: 650px !important;
    max-width: 650px !important;
}

#Content .left
{
    width: 290px !important;
    max-width: 290px !important;
    padding: 0 0 0 15px;
}

#Content .right
{
    width: 678px !important;
}

#Content .middle
{
    background-color: rgba(249, 249, 249, 1);     
    color: rgba(249, 249, 249, 1);
    padding: 0 0 0 20px;
    border-bottom: 1px #F4F4F4 solid;
}

#Content .down
{
    background: rgb(253, 253, 253);
    padding: 10px 0;
    width: 1004px;
}

#Content .bottom
{
    background: #FFFFFF;
    padding: 10px;
}

#Content .boxes
{

}

#Content .boxes .box
{
    margin: 0 0 20px 0 !important;
}

#Content .boxes .eventbox
{
    background: url(../images/Box/upcomingEvents_heading.png) top left no-repeat;
    padding: 17px 0 0 0;
}

#Content .boxes .followbox
{
    background: url(../images/Box/followTheSeries_title.png) top left no-repeat;
    padding: 17px 0 0 0;
}

#Content .boxes .followbox .follow
{
    width: 233px !important;
    height: 48px !important;
    overflow: hidden !important;
    margin: 0 0 10px 0;
}

#Content .boxes .followbox .follow.facebook
{
    background: url(../images/Box/facebook_follow_like.png) no-repeat  !important;
}

#Content .boxes .followbox .follow.twitter
{
    background: url(../images/Box/twitter_follow.png) no-repeat  !important;
}

#Content .boxes .followbox .follow.linkedin
{
    background: url(../images/Box/linkedin_follow.png) no-repeat  !important;
}

#Content .boxes .contactwbox
{

}

/* Footer */
#Footer
{
	margin: 0 auto;
	padding: 0;
	border: 0;
	background: url(../images/background.png) repeat-x;
    overflow: hidden;
    min-height: 70px;
}

#Footer .content
{
    padding: 10px 0;
    width: 1004px;
}

#Footer .content a
{
	text-decoration: none;
	color: rgb(250, 250, 250);
	font-weight: 700;
	font-size: 10px;
}

#Footer .content a:hover
{
    color: rgb(200, 200, 200);
}

#Footer .content .footerbox
{
    width: 234px;
    overflow: hidden;
}

#Footer .content .footerbox h2
{
    color: rgb(250, 250, 250);
    font-size: 10px;
    font-weight: bolder;
    margin: 0 0 3px 0;
}

#Footer .content .footerbox .devider
{
    height: 7px;
    background: rgb(80, 80, 80);
    margin: 0 0 10px 0;
}

#Footer .content .footerbox.left
{
    margin: 10px 0 0 0;
}

#Footer .content .footerbox.left .alink
{
    padding: 0;
}

#Footer .content .footerbox.middle
{
    margin: 10px 0 0 110px;
}

#Footer .content .footerbox.right
{
    margin: 10px 0 0 115px;
}

#Footer .content .footerbox.right .social
{
    padding: 5px 0;
}

#Footer .content .footerbox.right .social img
{
    vertical-align: middle;
    margin: 0 10px 0 0;
}

#Footer .content .footerbox.right .social span
{
    font-size: 10px;
}

#Footer .content .footerbox.right .social a.logjoin
{
    font-size: 10px;
}

#Footer .content .footerbox.right .social .leaders
{
    font-size: 10px;
    margin: 0 15px 0 0;
    color: #25728e;
    font-weight: bolder;
}

#Footer .content .footerbox.right .social .devider
{
    font-size: 11px;
    margin: 0 5px; color:
    rgb(250, 250, 250);
}

#Footer .copyright
{
    color: rgb(250, 250, 250);
    font-size: 10px;
    text-align: center;
}

#Footer .producer
{
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

#Footer .producer img
{
    vertical-align: middle;
}
