
/* Slider */
#Content .middle.memberslider
{
    padding: 10px;
    overflow: hidden;
    width: 984px;
}

#Content .middle.memberslider ul
{
    list-style: none;
}

#Content .middle.memberslider ul li
{
    display: inline;
    width: 246px;
    height: 67px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#Content .middle.memberslider ul li a,
#Content .middle.memberslider ul li a:hover,
#Content .middle.memberslider ul li a:active
{
    font-style: normal;
    text-decoration: none;
}

#Content .middle.memberslider ul li h1,
#Content .middle.memberslider ul li h2,
#Content .middle.memberslider ul li h3,
#Content .middle.memberslider ul li h4,
#Content .middle.memberslider ul li h5,
#Content .middle.memberslider ul li h6
{
    color: #808080;
    font-size: 10px;
}

#Content .middle.memberslider ul li h1
{
    font-size: 12px;
    font-weight: bolder;
    color: rgb(50, 50, 50);
}

#Content .middle.memberslider ul li .avatar
{
    margin: 0 5px 0 0;
}

#Content .middle.memberslider ul li img
{
    width: 68px;
    height: 67px;
}