@CHARSET "ISO-8859-1";
body
{
	font-family: arial;
}
.container_24
{
	z-index: 10;
}
#content_area
{
	margin-top:113px;
}
#main_content_area
{
	background-color: #FCFCFC;
	border-radius:4px;
}
#left_navigation_panel
{
	background-color: #5C5C5C;
	border-radius:4px;
}
#left_navigation_panel ul
{
	padding: 10px 5px;
	margin:0px;
	border-radius:8px;
	
	/*fall back*/
	background-color: #383838;
	background-repeat: repeat-x; 
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#636363)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #636363, #383838); 
	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #636363, #383838); 
	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #636363, #383838); 
	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #636363, #383838);
}
#left_navigation_panel ul li
{
	list-style-type: none;
	border-top:1px solid rgba(255,255,255,0.2);
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding:5px;
}
#left_navigation_panel ul li:first-child 
{
	border-top:none;
	padding-top:0;
}
#left_navigation_panel ul li:last-child 
{
	border-bottom:none;
	padding-bottom:0;
}
#left_navigation_panel ul li a
{
	font-size: 12px;
	text-decoration: none;	
	color:#FFFFFF;
	padding:4px;
	display: block;
}
#left_navigation_panel ul li a span
{
	font-weight:bold;
	float: right;
}
#left_navigation_panel ul li a:hover
{
	background-color: #404040;
	color:#57A2B9;
}
.fl
{
	float: left !important;
}